
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> IntelliJ’s idea ###
.idea
###< IntelliJ’s idea ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> test result from PHPUnits ###
### php bin/phpunit  --testdox-html templates/tests/test.all.html
### php bin/phpunit test/path/specificTest.php --testdox-html templates/tests/test.specific.html
/templates/tests/test.*.html
###< test result from PHPUnits ###

###> sync result from Command sync:agent ###
### php bin/console sync:agent logger
/templates/sync/*.log
###< sync result from Command sync:agent ###