{% extends "base.html.twig" %}

{% block title %}Sync Result{% endblock %}

{% block body %}

<div class="log-title">{{ title }}</div>

{% if fileToDisplay %}
<div class="log-columns">
    
    <div class="log-column log-list">
        {% set logType = '' %}
        {% for logType, logTypeFiles in files %}
        <div class="log-type">{{ logType }}</div>
        {% for logTypeFile in logTypeFiles %}
        
        <a href="{{ path('sync_result', {'env': env, 'fileName': logTypeFile.filename}) }}">{{ logTypeFile.filename }}</a>
        {% endfor %}
        {% endfor %}
    </div>
    
    <div class="log-column log-content">
        {% include "sync/" ~ fileToDisplay.filename ignore missing %}
    </div>
</div>
{% endif %}

{% endblock %}