{% extends "base.html.twig" %}

{% block title %}Tests Result{% endblock %}

{% block body %}

<div class="fs-5 p-4">{{ title }}</div>

{% include "test/" ~ env ~ ".phpunit.html" ignore missing %}

{% endblock %}