{% extends "base.html.twig" %}

{% block title %}Tests Result{% endblock %}

{% block body %}

<div class="log-title">{{ title }}</div>

{% include "test/" ~ env ~ ".phpunit.html" ignore missing %}

{% endblock %}