<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}SIHAM VHS{% endblock %}</title>

        <link rel="stylesheet" href="https://cdn.uca.fr/v2/css/uca.min.css">
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>
        {% include "menu.html.twig" %}

        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}

    </body>
</html>
