<div class="menu">
    <a href="{{ path('tests_result') }}">Test results</a>
    <a href="{{ path('sync_structure_result') }}">Sync structure results</a>
    <a href="{{ path('sync_agent_result') }}">Sync agent results</a>
    <a href="{{ path('sync_ldap_result') }}">Sync ldap results</a>
</div>